/* Add here all your css styles (customizations) */

.d-block h1:hover {
	color: #DD8C43 !important;
	text-decoration: none !important;
}

.fa {
	font-size: 20px !important;
}

.btn-primary:hover {
	background-color: #333333 !important;
	border-color: #333333 !important;
}